html, body {
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    border-collapse: collapse;
}

.gamefield {
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
    max-width: 100vh;
    max-height: 100vw;
    margin: auto;
    padding: 10px;

    overflow: auto;
    height: 90vh;

    text-align: center;
    vertical-align: middle;
}

.playerContainer {
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    height: 3em;
    font-weight: bold;


    border-style: solid;
    border-width: 0.1em;

    background: #ffebb6;
    border-color: #7a8a99;
}

.table {
    display: table;

    border-style: solid;
    border-width: 0.1em;
    border-color: #7a8a99;

    text-align: center;
}

.rowGroup {
    display: table-row-group;
}

.cell {
    display: table-cell;
    margin: auto;
    /*width: 10%;*/

    text-align: center;
    font-weight: bold;

    border-style: solid;
    border-width: 0.1em;
    background: #ffebb6;
    border-color: #7a8a99;
}
