html, body {
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    border-collapse: collapse;
}

.gamefield {
    margin-left: 10%;
    margin-right: 10%;
    /*max-width: 100vh;*/
    max-height: 70vh;
    /*margin: auto;*/
    /*padding: 10px;*/

    /*min-width: 525px;*/
    /*min-height: 585px;*/
    overflow: hidden;
    height: 90vh;

    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    /*position: absolute;*/
}

.playerContainer {
    padding: 0.5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: bold;


    border-style: solid;
    border-width: 0.3em;
    background: #ffebb6;
    border-color: #7a8a99;
}

.cell {
    display: table-cell;
    /*margin: auto;*/
    /*width: 10%;*/

    text-align: center;
    /*font-weight: bold;*/

    border-style: solid;
    border-width: 0.15em;
    background: #ffebb6;
    border-color: #7a8a99;

    /*!*NEW''''''''''''''''''''''''''''''''*!*/
    padding: 0px;
    margin: -0.15em;

}

.img_style {
    height: 55px;
    width: 55px;
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-width: 100%*/
    /*max-height: 100%*/
}

.conquered {
    border-width: 0;
    background: #ffebb6;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}

.img_style_logo {
    vertical-align: middle;
    display: table-cell;
    height: 40px;
    width: 40px;
}

.logo {
    display: table;
    padding-right: 2em;
    font-size: x-large;
}

.img_style_logo span {
    vertical-align: middle;
    display: table-cell;
}

.rowBoard {
    flex-wrap: unset;
    padding-right: 2px;
    padding-left: 2px;
}

.container {
    white-space: nowrap;
}

.playingField {
    width: 90vw;
    margin: auto;

    align-content: center;
}

.navbar {
    font-size: large;
}

/* The Modal (background) */
.myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.myModal-content {
    background-color: #ffebb6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    font-size: 150%;
    width: 80%;
    max-height: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

.myModal-content h1, .myModal-content h2, .myModal-content h3, .myModal-content h4 {
    font-size: 150%;
}

/* The Close Button */
.myClose {
    color: #523923;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
}

.myClose:hover,
.myClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFBD54;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cb9844;
}


/*//###########################################################################################*/

/* Remove the navbar's default margin-bottom and rounded borders */
.myNavbar {
    width: 100vw !important;
    margin: 0px !important;
    max-width: 40000px !important;
    background-color: #cccccc;
    background-image: linear-gradient(#ffebb6, white);
    /*font-size: x-large*/
}

.OwnNavbar {
    font-size: x-large;
    width: 100vw;
    margin-bottom: 50px;
}

.myNavbarItems {
    background: transparent !important;
    box-shadow: none !important;
    border: 0px !important;
    font-size: x-large !important;
    color: #6b6656 !important;
    margin-top: 5px;
    padding: 6px 12px;
    font-weight: bold;
    font-family: Arial;
    text-shadow: none;
    /*#ffebb6*/
}

.dropdown-menu {
    background: #feffe9;
    font-size: large !important;
}

.divider {
    background: #7a8a99;
    height: 3px !important;
}
