<div class="Rules" align="left" style="font-size: 150%">
    <h1> Ueber Shogi (Japanisches Schach) </h1>
    <h2> Inhaltsverzeichnis </h2>
    <ol type ="1">
        <li>Ziel des Spiels</li>
        <li>Arten der Figuren</li>
        <li>Regelwerk</li>
    </ol>
    <h3> Ziele des Spiels </h3>
    <p> Das Ziel des Spiels ist es wie beim westlichen Schach
        den Koenig des Gegenspielers zu schlagen(Schachmatt) zu setzten.
    </p>
    <h3> Arten der Figuren </h3>
    <a href="http://www.shogi.de/lernen.html">Shogi Figuren</a>
    <h3> Regelwerk </h3>
    <p> Beim modernen Shogi wird auf einem 9x9 Feld gespielt.
        Dabei hat jeder Spieler zu Beginn des Spiels 20 Spielsteine:
    </p>
    <ul>
        <li>1xKoenig</li>
        <li>2xGold-Generaele</li>
        <li>2xSilber-Generaele</li>
        <li>2xSpringer</li>
        <li>2xLanzen</li>
        <li>1xTurm</li>
        <li>1xLaeufer</li>
        <li>9xBauern</li>
    </ul>
    <p> Es beginnt immer der Spieler der von unten nach oben spielt. </p>
    <br>
    <p> Wie beim westlichen Schach koennen auch im Shogi Figuren befoerdert werden.<br>
        Nicht wie beim Schach allerdings nur die Bauern, sondern fast jede Figur abgesehen vom Koenig<br>
        und den Gold-und-Silber-Generaelen koennen befoerdert werden.<br>
        Diese Befoerderungsmoeglichkeit findet statt sobald man mit einer Figur eines der letzten 3 Felder der<br>
        gegenueberliegenden Spielseite erreicht.
        </p>
    <br>
    <p> Der aber groesste regeltechnische Unterschied vom regulaeren Schach ist das Spielsteine die man<br>
        vom Gegenspieler schaelgt nicht einfach verschwinden, sondern wieder als eigen Spielfiguren wiederverwendet werden<br>
        koennen. Dadurch ist Shogi sehr viel komplexer als Schach.
        </p>
</div>