@import controllers.AssetsFinder

@(implicit assets: AssetsFinder)

<nav id="Navbar" class="MyNavbar OwnNavbar MyNavbar-expand-lg MyNavbar-light">
    <a class="MyNavbar-brand" href="#">
        <div id="logo" class="logo" v-on:click="logo">
            <span><img src="@assets.path("images/logo/c.png")" class="Myd-inline-block Myalign-top img_style_logo" alt=""></span>
            <span style="padding-left: 10px;">Shogi</span>
        </div>
    </a>
    <button class="MyNavbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="MyNavbar-toggler-icon"></span>
    </button>

    <div class="collapse MyNavbar-collapse" id="navbarSupportedContent">
        <ul class="MyNavbar-nav mr-auto">
            <li class="myNav-item mymyDropdown">
                <a class="nav-link myDropdown-toggle" href="#" id="navbarmyDropdown" role="button" data-toggle="myDropdown" aria-haspopup="true" aria-expanded="false">
                    Game
                </a>
                <div class="myDropdown-menu" aria-labelledby="navbarmyDropdown" style="font-size: x-large">
                    <a class="myDropdown-item" href="#" v-on:click="newGame">New</a>
                    <a class="myDropdown-item" href="#" v-on:click="emptyGame">Empty</a>
                    <div class="myDropdown-divider"></div>
                    <a class="myDropdown-item" href="#" v-on:click="saveGame">Save</a>
                    <a class="myDropdown-item" href="#" v-on:click="loadGame">Load</a>
                    <div class="myDropdown-divider"></div>
                    <a class="myDropdown-item" href="#" v-on:click="aboutGame">About</a>
                </div>
            </li>

            <li class="myNav-item myDropdown">
                <a class="nav-link myDropdown-toggle" href="#" id="navbarmyDropdown" role="button" data-toggle="myDropdown" aria-haspopup="true" aria-expanded="false">
                    Edit
                </a>
                <div class="myDropdown-menu" aria-labelledby="navbarmyDropdown" style="font-size: x-large">
                    <a class="myDropdown-item" href="#" v-on:click="undoGame">Undo</a>
                    <a class="myDropdown-item" href="#" v-on:click="redoGame">Redo</a>
                </div>
            </li>

            <li id="Simulation" class="myNav-item">
                <a class="nav-link" href="#" v-on:click="simulation">Simulation</a>
            </li>
        </ul>
    </div>
</nav>
