@(controller: de.htwg.se.Shogi.controller.controllerComponent.ControllerInterface, size: Int)

@getPlayerIcon(col: Int, row: Int) = @{
    val player = if(getPlayerOfPiece(col, row)) "1" else "2"
    "images/player" + player + "/50x50/" + cellPieceFullName(col, row) + "_50x50.png"
}

@boardArray = @{
    controller.boardToArray()
}

@cell(col: Int, row: Int) = @{
    boardArray(col)(row).toString
}

@cellPieceFullName(col: Int, row: Int) = @{
    boardArray(col)(row).toStringLong
}

@getPlayerOfPiece(col: Int, row: Int) = @{
    boardArray(col)(row).isFirstOwner
}

@playerContainer_1() = @{
    controller.getContainer._1.mkString(", ")
}

@playerContainer_2() = @{
    controller.getContainer._2.mkString(", ")
}


@main("Shogi Gamefield") {
    <div class="gamefield">
        <div class="playerContainer"> @playerContainer_1 </div>
        <div class="table">
        @for(row <- 0 until size) {
            <div class="rowGroup">
            @for(col <- 0 until size) {
                <div class="cell" col=@col row=@row>
                    @* @cell(col, row)&nbsp;*@
                    @if(cell(col, row).trim.nonEmpty) {
                        <img src="@routes.Assets.versioned(getPlayerIcon(col, row))" width="50" height="50"/>
                    } else {
                        <img style="opacity: 0;" width="50" height="50"/>
                    }
                </div>
            }
            </div>
        }
        </div>
        <div class="playerContainer"> @playerContainer_2 </div>
    </div>
}





