@(controller: de.htwg.se.Shogi.controller.controllerComponent.ControllerInterface, size: Int)



@cell(col: Int, row: Int) = @{
    controller.boardToArray()(col)(row).toString
}

@playerContainer_1() = @{
    controller.getContainer._1.mkString(", ")
}

@playerContainer_2() = @{
    controller.getContainer._2.mkString(", ")
}


@main("Shogi Gamefield") {
    <noscript>
        <h3>This site requires JavaScript</h3>
    </noscript>
    <div>
        <div class="playerContainer"> @playerContainer_1 </div>
        <div class="table">
        @for(row <- 0 until size) {
            <div class="rowGroup">
            @for(col <- 0 until size) {
                <div class="cell" id=""+idCol>
                @cell(col, row)
                </div>
            }
            </div>
        }
        </div>
        <div class="playerContainer"> @playerContainer_2 </div>
    </div>

    <script language="javascript" type="text/javascript">
            <!-- Hide JavaScript
            var list = document.getElementsByClassName("cell");
            for (var i = 0; i <= list.length; i++){
                list[i].innerHTML = i;
            }
            -->
    </script>
}





